<div class="border p-3 ">
    <h4>Statistiques</h4>
    <hr>

    <div class="border p-2 mb-1 shadow">
        <!-- <h4 class="ml-2">Total<span class="badge badge-warning">8</span></h4> -->
        <button type="button" class="btn btn-primary btn-sm">
            Tâche Totales <span class="badge badge-light">{{ count_todos }}</span>
          </button>
    </div>

    <div class="border p-2 mb-1 shadow">
        <!-- <h4 class="ml-2">Total<span class="badge badge-warning">8</span></h4> -->
        <button type="button" class="btn btn-success btn-sm">
            Tâches Terminées <span class="badge badge-light">{{count_completed_todo}}</span>
          </button>
    </div>

    <div class="border p-2 mb-1 shadow">
        <!-- <h4 class="ml-2">Total<span class="badge badge-warning">8</span></h4> -->
        <button type="button" class="btn btn-warning btn-sm">
            Tâches Inachevées <span class="badge badge-light">{{count_uncompleted_todo}}</span>
          </button>
    </div>

</div>